<% provide(:title, "Sign up for beta access") %>
				<div id="intro" class="clearFix">
				<p>Developers around the world invest a ton of time and effort on projects posted on GitHub that benefit others projects. Some have made giant contributions, some have only inserted a shim, but each member of this community deserves to have an easy way to be rewarded for their work.</p>

				<p>Bitcoin allows us a unique opportunity to do that. Donations can be made in small to large amounts without needing a credit card, and our system make it easy to use direct payments from you to the recipient with no middle man.</p>

				<p>Did someone make a project that turned weeks or months of imagined effort into days, hours or minutes? Don't you wish there was an easy way to reward them? Like you can buy a beer for a colleague or give a gift-card to a buddy for helping you move some stuff?</p>

				<p>Do you know a developer that is struggling to make ends meet? Would they like a virtual tip-jar for their projects? It's as easy as including a bitcoin address in a GitHub commit, signing up is optional for developers!</p>


			</div>
	<%= render 'users/fan_form' %>
	<%= render 'users/artist_form' %>
	