<% provide(:title, "Thank you!") %>
<%= render 'layouts/facebookscript' %>
<%= render 'layouts/twitterscript' %>
<div id="success">
	<p><strong>Success!</strong></p>
	<p>Thank you for signing up, we will be updating you soon!/p>
	<p>Be sure to share, we need your help!</p>
</div>
	<div class="sharebuttons">
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://backsta.gr" 
				data-text="GitHub developers deserve an easy to use bitcoin tip-jar. I'm working with @GitBitcoins to fix that. Join us! #github #bitcoin">Tweet</a>
		<div class="fb-like" data-href="http://backsta.gr" data-send="true" data-width="450" data-show-faces="true" data-action="recommend"></div>
	</div>
