/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "compass";

header {
	text-align: center;
	margin: 30px 0;
}

body {background: #3d2d00; /* Old browsers */
background: -moz-linear-gradient(left, #3d2d00 50%, #f05033 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(50%,#3d2d00), color-stop(50%,#f05033)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #3d2d00 50%,#f05033 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #3d2d00 50%,#f05033 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #3d2d00 50%,#f05033 50%); /* IE10+ */
background: linear-gradient(to right, #3d2d00 50%,#f05033 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d2d00', endColorstr='#f05033',GradientType=1 ); /* IE6-9 */
}

